:root {
  --border: #dcdcdd;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5em;
  padding: 0.5em 1rem;
  background-color: var(--white);
  border-bottom: 0.075em solid var(--border);
}

.faviconContainer {
  display: flex;
  align-items: center;
}

.favicon {
  height: 1em;
}

.button {
  text-align: right;
}

.list {
  position: absolute;
  top: 2.5em;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  margin: 0;
  background-color: var(--white);
}

@media only screen and (min-width: 60rem) {
  .wrapper {
    justify-content: center;
    width: 2.5em;
    height: 100vh;
    border-bottom: none;
    border-right: 0.075em solid var(--border);
  }

  .favicon {
    display: none;
  }

  .list {
    top: 0;
    left: 4.5em;
    border-left: 0.075em solid var(--border);
  }
}
