.heading {
  margin-top: 1.875em;
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

.list {
  display: none;
  padding-left: 0;
  list-style-type: none;
}

.speaker {
  display: table;
  padding: 1em;
  margin: 0 -1em;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.speaker:hover {
  color: var(--white);
  background-color: var(--red);
}

.name {
  font-family: 'Montserrat', sans-serif;
  display: block;
}

.work {
  visibility: hidden;
}

.speaker:hover .work {
  visibility: visible;
}

.profile {
  margin: 3em auto;
  text-align: center;
}

.avatar {
  width: 20em;
  height: 20em;
  margin-bottom: 2em;
  border-radius: 50%;
}

.description {
  position: relative;
  padding-left: 2em;
  text-align: left;
}

.description::before {
  position: absolute;
  content: '';
  top: 0;
  left: 1em;
  bottom: 0;
  border: 0.125em solid var(--brass-dark);
}

.profileSpeaker {
  margin-bottom: 2em;
}

@media only screen and (min-width: 62em) {
  .wrapper {
    height: calc(100vh - 10em);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .heading {
    margin-top: 0;
  }
}

@media only screen and (min-width: 62em) and (orientation: landscape) {
  .profile {
    display: flex;
  }

  .description {
    display: table;
    max-width: 40em;
    margin-left: 3em;
  }
}

@media only screen and (min-width: 75em) {
  .list {
    display: block;
  }

  .profile {
    display: block;
    width: 75%;
  }

  .profileSpeaker {
    display: none;
  }

  .description {
    margin-left: 0;
  }
}
