.heading {
  margin-top: 1.875em;
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

.subHeading {
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
}

.illustration {
  display: none;
  width: 100%;
}

@media only screen and (min-width: 62em) {
  .wrapper {
    height: calc(100vh - 9.5em);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .heading {
    margin-top: 0;
  }

  .illustration {
    display: block;
  }
}
