/* Typography */
/* Reference: https://typecast.com/blog/a-more-modern-scale-for-web-typography */

:root {
  --font-size-H1: 2em;
  --font-size-H2: 1.625em;
  --font-size-H3: 1.375em;
  --font-size-H4: 1.125emm;
  --font-size-H5: 1em;
  --font-size-body: 1em;
  --font-size-small-button: 0.875em;
  --font-size-large-button: 1.875em;

  --line-height-H1: 1.25em;
  --line-height-H2: 1.15384615em;
  --line-height-H3: 1.13636364em;
  --line-height-H4: 1.11111111em;
  --line-height-H5: 1em;
  --line-height-body: 1.6;
  --line-height-button: 1.6;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

@media only screen and (min-width: 768px) {
  :root {
    --font-size-H1: 2em;
    --font-size-H2: 1.625em;
    --font-size-H3: 1.375em;
    --font-size-H4: 1.125em;
    --font-size-H5: 1em;
    --font-size-body: 1em;
    --font-size-small-button: 0.875em;
    --font-size-large-button: 1.875em;

    --line-height-H1: 1.25em;
    --line-height-H2: 1.15384615em;
    --line-height-H3: 1.13636364em;
    --line-height-H4: 1.11111111em;
    --line-height-H5: 1.25em;
    --line-height-body: 1.6;
    --line-height-button: 1.6;
  }
}

@media only screen and (min-width: 960px) {
  :root {
    --font-size-H1: 2.5em;
    --font-size-H2: 2em;
    --font-size-H3: 1.5em;
    --font-size-H4: 1.5em;
    --font-size-H5: 1em;
    --font-size-body: 1em;
    --font-size-small-button: 0.875em;
    --font-size-large-button: 1.875em;

    --line-height-H1: 1.125em;
    --line-height-H2: 1.25em;
    --line-height-H3: 1.25em;
    --line-height-H4: 1.22222222em;
    --line-height-H5: 1.25em;
    --line-height-body: 1.6;
    --line-height-button: 1.6;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --font-size-H1: 3.125em;
    --font-size-H2: 2.5em;
    --font-size-H3: 1.875em;
    --font-size-H4: 1.5em;
    --font-size-H5: 1.25em;
    --font-size-body: 1em;
    --font-size-small-button: 0.875em;
    --font-size-large-button: 1.875em;

    --line-height-H1: 1.05em;
    --line-height-H2: 1.25em;
    --line-height-H3: 1.25em;
    --line-height-H4: 1.22222222em;
    --line-height-H5: 1.25em;
    --line-height-body: 1.6;
    --line-height-button: 1.6;
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    --font-size-H1: 3.125em;
    --font-size-H2: 2.5em;
    --font-size-H3: 1.875em;
    --font-size-H4: 1.5em;
    --font-size-H5: 1.25em;
    --font-size-body: 1em;
    --font-size-small-button: 0.875em;
    --font-size-large-button: 1.875em;

    --line-height-H1: 1.05em;
    --line-height-H2: 1.25em;
    --line-height-H3: 1.25em;
    --line-height-H4: 1.22222222em;
    --line-height-H5: 1.25em;
    --line-height-body: 1.6;
    --line-height-button: 1.6;
  }
}
