.wrapper,
.wrapperIllustration {
  display: flex;
  align-items: center;
  height: calc(100vh - 3.5rem);
}

.wrapperIllustration {
  display: none;
}

.container {
  display: block;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
  line-height: 0.875;
  letter-spacing: 0.0625rem;
}

.subHeading {
  margin-top: 0.875rem;
}

.location {
  margin-top: 2.5rem;
}

.btnRegister {
  margin-top: 1.875rem;
}

.illustration {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .wrapperIllustration {
    display: flex;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper,
  .wrapperIllustration {
    height: calc(100vh - 10rem);
  }
}

@media only screen and (min-width: 1200px) {
  .heading {
    font-size: 8rem;
  }
}
