.speaker {
  display: table;
  padding: 0.5rem 1rem;
  margin: 0 -1rem;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.speaker.active {
  color: var(--white);
  background-color: var(--red);
}

.name {
  font-family: 'Montserrat', sans-serif;
  display: block;
}

.work {
  font-size: 0.875rem;
  visibility: hidden;
}

.speaker.active .work {
  visibility: visible;
}

.speaker:hover .name {
  color: var(--grey);
}

.speaker.active:hover .name {
  color: var(--white);
}
